@model championsleague.Models.Rank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.player_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
